os:
  - linux
  - osx
language: rust
rust:
  - nightly
  - beta
  - stable
sudo: false
branches:
  only:
      - master
install:
- curl -sSL https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/install_libsodium.sh | bash
- export LIBRARY_PATH=$LIBRARY_PATH:$HOME/libsodium-1.0.3/lib && export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$HOME/libsodium-1.0.3/lib
script:
  - cargo build --verbose
  - cargo test --verbose
  - cargo bench
after_success:
  - curl -sSL https://github.com/maidsafe/QA/raw/master/Bash%20Scripts/Travis/deploy_gh-pages.sh | bash
env:
  global:
    secure: "g8lzQvNQYKdf/E7J29f/DCIyDFmj184qROzcShDO0ZsQNlnJPh26KdIx9paNgjh1Uo1myPUXjGvK6ZvammRSYhna0ZVvQPSnlpEGeDvRY7RrvxyrY45+SaaxWUqrc2XYwuhfL2ODIRrYGoIY+C+EKjGHchzzOTxeAgzwYSszlY8="
